.customTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  color: #000000;
  margin: 3rem auto;
}

.customTableHeader {
  cursor: pointer;
  color: white;
}

.customTable td,
.customTable th {
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
}

.customTable tbody th {
  font-weight: 400;
}

.customTable thead {
  background-color: #7ea8f8;
}

.userInforTable {
  cursor: pointer;
  transition: 0.3s;
}

.userInforTable:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.tableWrapper {
  overflow-x: scroll;
  width: 90%;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

@media screen and (min-width: 1024px) {
  .tableWrapper {
    overflow-x: hidden;
    width: 90%;
  }
}
